body {
    background-color: black;
    font-family: Poppins;
}

p {
    margin-bottom: 1.5rem;
}

figure {
    display: inline-block;
    text-align: center;
}

/* nav customization */
.custom-nav {
    background-color: #e6bfaa;
    /* top, right, bottom, left */
    padding: 10px 5px 10px 5px;
}
 
/*.nav-item .nav-link  {
    color: #a44a3f;
}

.nav-item:hover .nav-link {
    color: #772e25;
}*/

/*.nav-underline .nav-link.active {
    color: currentColor;
} */

a {
    cursor: pointer;
}

#webtitle {
    padding-left: 5px;
}

/* body customization */
.main-content {
    display: flex;
    /*This means that if you are using flex-direction: column, the main axis will be y-axis (so justify-content: center will actually center elements vertically while align-item: center will do the job for horizontal align).*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: calc(100vh - 80px); */
    height: 100svh;
}

.normal-text {
    color: white; 
    text-align: center;
    font-size: calc(1em + 0.5vw);
}

.normal-text-small {
    color: white; 
    text-align: left;
    font-size: calc(0.8em + 0.5vw);
    margin: 10px 10px 10px 10px;
}

.img-caption {
    color: white; 
    text-align: center;
    font-size: calc(0.8em + 0.5vw);
}

.heading {
    /* dynamic font size based on viewport size (need to check more) */
    font-size: calc(2em + 2vw);
    color: white;
}

.table > thead {
    background-color: #ffc164;
    color: black;
}

.vl {
    border-left: 2px solid #ddd; /* Adjust color and width as needed */
    height: 45svh; /* Set height to 50% viewport height for responsiveness */
    position: absolute; /* Position the line on the page */
    left: 50%; /* Center the line horizontally */
    transform: translateX(-50%); /* Offset the line to compensate for half border width */
}

.logo-img {
    width: 70%; /* Scales the image to fit container width */
    height: auto; /* Maintains image aspect ratio */
    max-width: 90px; /* Optional: Set a maximum width to prevent excessive scaling */
    margin: 10px 10px 10px 10px;
}

#img1 {
    width: 90px;
    height: 90px;
    margin: 10px 10px 10px 10px;
    align-items: center;
}

#web-arch-img {
    width: 80%;
    height: 80%;
}

#map1 {
    height: 60svh;
}

#map2 {
    height: 60svh;
}

.rectangle {
    width: 80%;
    height: 8svh;
    margin: 10px 10px 10px 30px;
    /* line-height: 90px; */
    /* border-radius: 20%; */
    font-size: 1.3rem;
    color: #000;
    text-align: center;
    background: #e0aeff;
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center;
}

/* animation */
.scroll-content {
    scale: .8;
    opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: cover 10% contain 40%;
}
@keyframes fade-in {
    from {
        scale: .8; 
        opacity: 0;
    }
    to {
        scale: 1; 
        opacity: 1;
    }
}

.scroll {
	width: 40px;
	height: 40px;
	border: 2px solid white;
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	
}

.scroll::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 12px;
    width: 12px;
    height: 12px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}